- name: Download AdGuardHome
  ansible.builtin.get_url:
    url: 'https://static.adguard.com/adguardhome/release/AdGuardHome_linux_arm64.tar.gz'
    dest: /tmp
- name: Unpackage file
  ansible.builtin.command: tar x -v -f /tmp/AdGuardHome_linux_arm64.tar.gz -C /media/storage
- name: Copy config file
  ansible.builtin.template:
    src: AdGuardHome.yaml.j2
    dest: /media/storage/AdGuardHome/AdGuardHome.yaml
- name: Install AdGuardHome
  ansible.builtin.command: /media/storage/AdGuardHome/AdGuardHome -s install
- name: Include init.d file un lbu persistence
  ansible.builtin.command: lbu inc /etc/init.d/AdGuardHome
- name: Persist lbu changes
  ansible.builtin.command: lbu ci
