---
- name: Install prometheus
  apk:
    name:
      - prometheus
      - prometheus-openrc
    state: latest
  notify: lbu_persist
- name: Copy prometheus binary to storage
  ansible.builtin.copy:
    remote_src: true
    src: /usr/bin/prometheus
    dest: /media/storage/binaries/
    mode: +x
- name: Link grafana-server binary to original path
  ansible.builtin.file:
    src: /media/storage/binaries/prometheus
    dest: /usr/bin/prometheus
    force: true
    state: link
- name: Include prometheus binary in lbu persistence
  ansible.builtin.command: lbu inc /usr/bin/prometheus
  notify: lbu_persist
- name: Copy promtool binary to storage
  ansible.builtin.copy:
    remote_src: true
    src: /usr/bin/promtool
    dest: /media/storage/binaries/
    mode: +x
- name: Link promtool binary to original path
  ansible.builtin.file:
    src: /media/storage/binaries/promtool
    dest: /usr/bin/promtool
    force: true
    state: link
- name: Include promtool binary in lbu persistence
  ansible.builtin.command: lbu inc /usr/bin/promtool
  notify: lbu_persist
- name: Include init file in lbu persistence
  ansible.builtin.command: lbu inc /etc/init.d/prometheus
  notify: lbu_persist
- name: Copy conf file
  ansible.builtin.copy:
    src: conf.d.prometheus
    dest: /etc/conf.d/prometheus
  notify: lbu_persist
- name: Create data directory
  ansible.builtin.file:
    path: /media/storage/prometheus/data
    state: directory
- name: Copy config file
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
  notify: lbu_persist
- name: Start service
  ansible.builtin.service:
    name: prometheus
    state: started
    enabled: true
    runlevel: default
  notify: lbu_persist
- name: Check if prometheus is accessible
  ansible.builtin.uri:
    url: http://localhost:9090
    method: GET
    status_code: 200
