---
- name: Install grafana
  apk:
    name:
      - grafana
      - grafana-openrc
    state: latest
  notify: lbu_persist
  register: grafana_install
- name: Copy grafana-server binary to storage
  ansible.builtin.copy:
    remote_src: true
    src: /usr/sbin/grafana-server
    dest: /media/storage/binaries/
    mode: +x
  when: grafana_install.changed
- name: Link grafana-server binary to original path
  ansible.builtin.file:
    src: /media/storage/binaries/grafana-server
    dest: /usr/sbin/grafana-server
    force: true
    state: link
  when: grafana_install.changed
- name: Include grafana-server binary in lbu persistence
  ansible.builtin.command: lbu inc /usr/sbin/grafana-server
  notify: lbu_persist
  when: grafana_install.changed
- name: Copy grafana-cli binary to storage
  ansible.builtin.copy:
    remote_src: true
    src: /usr/bin/grafana-cli
    dest: /media/storage/binaries/
    mode: +x
  when: grafana_install.changed
- name: Link grafana-cli binary to original path
  ansible.builtin.file:
    src: /media/storage/binaries/grafana-cli
    dest: /usr/bin/grafana-cli
    force: true
    state: link
  when: grafana_install.changed
- name: Include grafana-cli binary in lbu persistence
  ansible.builtin.command: lbu inc /usr/bin/grafana-cli
  notify: lbu_persist
  when: grafana_install.changed
- name: Include init file in lbu persistence
  ansible.builtin.command: lbu inc /etc/init.d/grafana
  notify: lbu_persist
  when: grafana_install.changed
- name: Copy conf file
  ansible.builtin.copy:
    src: conf.d.grafana
    dest: /etc/conf.d/grafana
  notify: lbu_persist
- name: Copy grafana.ini
  ansible.builtin.copy:
    src: grafana.ini
    dest: /etc/grafana.ini
  notify: lbu_persist
- name: Start and enable service
  ansible.builtin.service:
    name: grafana
    state: restarted
    enabled: true
    runlevel: default
  notify: lbu_persist
- name: Check if grafana is accessible
  ansible.builtin.uri:
    url: https://grafana.fsicardi.ar
    method: GET
    status_code: 200
